<html>
	<head>
    <link rel="stylesheet" href="/scoreboard/style.css" type="text/css">
	</head>
	<body>
		<div>
			<span class="team" id="player1-team">ABC</span>
			<span class="name" id="player1-name">Player 1 Name</span>	
			<span class="score" id="player1-score">0</span>
		</div>
		<div>
			<span class="team" id="player2-team">DEF</span>
			<span class="name" id="player2-name">Player 2 Name</span>
			<span class="score" id="player2-score">0</span>
		</div>
    <div>
      <span id="round">Round</span>
    </div>
    <script type="text/javascript" src="/scoreboard/script.js"></script>
	</body>
</html>
